.left-logo-indiv {
  width: 20vh;
}
#main-section {
  position: relative;
  padding: 200px 0;
  /* padding-top: 250px; */
  z-index: 0;
}
.right-img {
  width: 100%;
}
.element-content {
  display: flex;
  align-items: center;
}
.left-elememt {
  padding: 5%;
}
.section-head-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15%;
  margin-right: 15%;
  height: 40vh;
}
.leftbar-conent {
  width: 70%;
}
.color-blue-span {
  color: #2443ac;
  font-weight: 500;
}
.left-paragraph {
  color: gray;
  width: 70%;
  font-size: 1rem;
}
.rightbar-content {
  width: 30%;
}
.left-buttons {
  padding-top: 10px;
  margin-top: 5%;
}
/* .left-buttons :hover {
  background-color: #2443ac;
  color: white;
} */
.typewrite-content {
  display: flex;

  font-size: xx-large;
}
.font-style {
  padding-left: 10px;
  font-size: xx-large;
}

#element-primary-text {
  color: #2443ac;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: pink;
  }
}
.info-span {
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  background-color: #e43f52 !important;
  padding: 15px;
}
.demo-btn {
  padding: 15px;
  width: 20%;
  color: white;
  background-color: #2443ac;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.left-download {
  padding: 15px;
  color: #2443ac;
  border: 1px solid #2443ac;
  width: 25%;

  font-size: 1rem;
  border-radius: 5px;
  margin-left: 10px;
}
.left-download:hover {
  color: white;
  background-color: #2443ac;
}
.typeeffect {
  display: flex;
  align-items: center;
}

.left-title {
  display: flex;
}

.rightbar-content {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
.lang-content {
  position: relative;
  border-bottom: 1px solid lightgray;
  top: 100px;
  margin-top: 5%;
}

.lang-icon {
  position: absolute;

  text-align: center;
  top: 100%;
}
.lang-img {
  width: 5%;
  box-shadow: 0px 0px 6px 5px rgba(239, 240, 238, 1);
  border-radius: 50%;
  z-index: 3;
  position: relative;
  bottom: 50px;
  margin: 10px;
}
#main-section::before {
  content: "";
  position: absolute;
  bottom: 30rem;
  right: 60rem;
  width: 90rem;
  height: 35rem;
  border-radius: 17rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: linear-gradient(
    90deg,
    rgba(47, 85, 212, 0.3),
    transparent
  ) !important;
  z-index: -1;
}
/* ------------------------------Resopnsive----------------------------------- */
@media screen and (max-width: 1024px) {
  .left-elememt {
    padding: 0;
  }
  .lang-img {
    width: 7%;
    box-shadow: 0px 0px 6px 5px rgba(239, 240, 238, 1);
    border-radius: 50%;
    z-index: 3;
    position: relative;
    bottom: 50px;
    margin: 10px;
  }
  .lang-content {
    position: relative;
    border-bottom: 1px solid lightgray;
    top: 100px;
    height: 100%;
  }
  .rightbar-content {
    width: 40%;
  }
  .demo-btn {
    padding: 15px;
    width: 30%;
    color: white;
    background-color: #2443ac;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .left-download {
    padding: 15px;
    color: #2443ac;
    border: 1px solid #2443ac;
    width: 35%;

    font-size: 1rem;
    border-radius: 5px;
    margin-left: 10px;
  }
  .section-head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .typewrite-content {
    display: flex;
    padding-top: 10px;
    font-size: x-large;
  }
  .section-head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .right-img {
    width: 100.66667%;
  }
  .left-paragraph {
    color: gray;
    width: 70%;
    font-size: 1rem;
  }
  .left-paragraph {
    text-align: justify;
  }
  .lang-img {
    width: 10%;
    box-shadow: 0px 0px 6px 5px rgba(239, 240, 238, 1);
    border-radius: 50%;
    z-index: 3;
    position: relative;
    bottom: 40px;
    margin: 10px;
  }
  .left-download {
    padding: 15px;
    color: #2443ac;
    border: 1px solid #2443ac;
    width: 40%;

    font-size: 1rem;
    border-radius: 5px;
    margin-left: 10px;
  }
  .navigation {
    display: none;
  }
  .right-img {
    width: 130.66667%;
  }
}
@media screen and (max-width: 320px) {
  #main-section {
    padding: 150px 0;
    position: relative;
  }
  .section-head-content {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .typewrite-content {
    display: flex;

    padding-top: 0;
    font-size: x-large;
  }
  .left-navbar {
    display: flex;
    align-items: center;
    margin-left: 40%;
  }
  .header-container {
    height: 10vh;
    margin-left: 10px;
    width: 320px;
  }
  .leftbar-conent {
    width: 100%;
  }
  .left-elememt {
    padding: 20px;
  }
  .typewrite-content {
    display: flex;

    font-size: x-large;
  }
  .font-style {
    padding-left: 10px;
    font-size: xx-large;
  }
  .left-paragraph {
    color: gray;
    width: 100%;
    font-size: 1rem;
  }
  .left-download {
    padding: 15px;
    color: #2443ac;
    border: 1px solid #2443ac;
    width: 56%;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: 0;
  }
  .demo-btn {
    width: 56%;
    margin-bottom: 10px;
  }
  .typeeffect {
    display: flex;
    align-items: center;
  }
  .font-style {
    font-size: large;
  }
  .lang-img {
    width: 10%;
    box-shadow: 0px 0px 6px 5px rgb(239 240 238);
    border-radius: 50%;
    z-index: 3;
    position: relative;
    bottom: 40px;
    margin: 10px;
  }
  .lang-content {
    position: relative;
    border-bottom: 1px solid lightgray;
    top: 300px;
    height: 100%;
  }
  .right-img {
    width: 200.66667%;
    margin-left: 20%;
  }
  .lang-img {
    width: 20%;
    box-shadow: 0px 0px 6px 5px rgb(239 240 238);
    border-radius: 50%;
    z-index: 3;
    position: relative;
    top: 10px;
    bottom: -30px;
    margin: 10px;
  }
  .lang-content {
    position: relative;
    border-bottom: 1px solid lightgray;
    top: 350px;

    height: 100%;
  }
  .lang-icon {
    border-bottom: 1px solid lightgray;
  }
}
